body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    padding-top: 50px;
}

.container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    width: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: #007BFF; /* 使用Bootstrap的主要颜色 */
    transition: width 0.3s ease-in-out;
}
